body{
    font-family: 'Roboto' ;
}
section{
    height: 600px;
    width: 100%;
    padding-bottom: 100px;
    padding-right: 200px;
}
.heading-highlight{
    color:skyblue;
}
p{
    color: dimgray;
}
.link-button{
    background-image: linear-gradient(70deg,skyblue,rgb(62, 131, 158));
    color: white;
    padding: 5px 15px;
    text-decoration: none;
}
.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
}
.half-width img{
    width:90%;
    height: 90%;
}
.top-section{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
}
.biography-section{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    padding-top: 200px;
}
section.work-section{
    padding-top: 100px;
}
.work-section-heading{
    text-align: center;
    font-size: 40px;
}
.work-section img{
    padding-left: 2.5%;
    height: 40%;
    width: 30%;
}
.work-section{
    height: 600px;
    background-image: url("images/latest-work-bg.png");
}