body{
    font-family: 'Roboto' ;
    margin: 0;;
}
section{
    height: 600px;
    width: 100%;
    padding-bottom: 200px;
    padding-right: 200px;
}
.heading-highlight{
    color:skyblue;
    font-size: 40px;
    text-align: center;
    padding-top: 100px;
    
}
p{
    color: dimgray;
    
}
.link-button{
    background-image: linear-gradient(70deg,skyblue,rgb(62, 131, 158));
    color: white;
    padding: 5px 15px;
    text-decoration: none;
}
.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
}
.half-width img{
    width:90%;
    height: 90%;
}
.top-section{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.biography-section{
    background-image: url("images/biography-bg.png");
    
    background-size: cover;
    padding-top: 200px;
}
section.work-section{
    padding-top: 100px;
}
.work-section-heading{
    text-align: center;
    font-size: 40px;
}
.work-section img{
    padding-left: 2.5%;
    height: 40%;
    width: 30%;
}
.work-section{
    height: 600px;
    background-image: url("images/latest-work-bg.png");
    background-size: cover;
}
.jhankar-heading{
    text-align: center;
    color: rgba(0, 0, 0, 0.575);
}


.client-section{
    background-image: url("images/footer-bg.png");
    background-position: center;
    background-size: cover;
    
}
.client-comment{
    
    text-align: center;
    margin: 5px 400px;
}
#email-information{
    padding: 40px 0px;
    background-image: linear-gradient( 45deg, #ec4f91,#ed4b73);
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    text-align: center;
}
footer p{
    text-align: center;
    color: dimgray;
}